.container{
    background-color: #F72585;
    margin: auto;
    height: 300px;
    display: flex;
}       
div[class^="box"]{
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-family: sans-serif;
    font-weight: bold;
    color: antiquewhite;
    flex-shrink: 0;
    background-color: grey;
}